streamlit
matplotlib
pandas
seaborn
numpy
opencv-python-headless
onnxruntime
pyserial
requests
openpyxl
textblob
python-docx
pyhanko
pyhanko-certvalidator
cryptography
reportlab
Pillow
pdf2image
streamlit-authenticator
streamlit-js-eval
pymongo
google-auth
google-api-python-client
google-auth-oauthlib
openai
streamlit-folium
fastkml
