streamlit
matplotlib
pandas
seaborn
numpy
pyserial
requests
openpyxl
textblob
python-docx
pyhanko
pyhanko-certvalidator
cryptography
reportlab
Pillow
pdf2image
streamlit-authenticator
streamlit-js-eval
pymongo
google-auth
google-api-python-client
google-auth-oauthlib
